---
import stateConfig from "~@/slate.config";
import type { ThemeOptions } from "@/typings/config";
import ThemeSelect from "@/components/theme-select";
// import SocialLinks from "@/components/social-links";
---

<footer class="mt-auto">
  <!-- {!!slateConfig.socialLinks && <SocialLinks client:visible />} -->
  <div class="mt-4 flex items-center justify-between">
    <div class="text-slate8 text-sm">
      <a
        class="inline-block cursor-pointer py-0.5 transition-colors hover:text-slate12"
        href={`/about`}
      >
        About me
      </a>
    </div>
    {
      (stateConfig.theme as ThemeOptions).enableUserChange && (
        <ThemeSelect client:visible />
      )
    }
  </div>
</footer>
